#share
  ul.share-options
    li
      a(href='https://www.facebook.com/pridewithstyle')
        i.fa.fa-facebook
    li
      a(href='http://twitter.com/pridewithstyle')
        i.fa.fa-twitter
    li
      a(href='https://plusone.google.com/_/+1/confirm?hl=en&url=https://plus.google.com/114955450929230574545/about?hl=en&service=PLUS')
        i.fa.fa-google-plus
    li
      a(href='#')
        i.fa.fa-share-alt.st_sharethis_large
    li
      a(href='mailto:promos@pridewithstyle.com')
        i.fa.fa-envelope