#signup
  form(action='/subscribe', method='POST', class='signup-form')
    label(for='email', class='signup-label assistive-vision') Please enter your email to receive updates.
    input(type='email', name='email', placeholder='SIGN UP FOR UPDATES', class='signup-email', id='email', required)
    button(type='submit', class='primary signup-button') Submit