extends layout

block content

  section#intro
    div
      h1 Pride With Style
      blockquote
        q Stories have to be told or they die, and when they die, we can't remember who we are or why we're here.
        cite Sue Monk Kidd

  section#mission-statement
    div
      h1.
        Pride With Style celebrates the rich, colorful history of our community.
        Through our product and our design, we will re-tell our stories of love, perseverance and progress.

  section#brand-qualities
    div
      h1 Stylish. Fun. Unique. Progressive. Strong.

  section#community
    div
      h1 Rooted in history, Pride With Style reaches out, gives back, and moves forward.
         
  section#who-we-are
    div
      h1 We are everyone.  We are everywhere.  We are you.

  section#outro
    div
      h1 Pride With Style
      h2 Coming Fall 2014