doctype html
html
  head
    meta(charset='utf-8')
    title Pride With Style
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js')
    link(href='//fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

    include partials/_google-analytics
  body
    include partials/_modal
    header
      include partials/_share
      include partials/_signup
    main
      block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/script.js')
    script(src='http://w.sharethis.com/button/buttons.js')
    script stLight.options({publisher: "ur-4d9519cd-b74e-6520-643b-baedf21fd23d", doNotHash: false, doNotCopy: false, hashAddressBar: false});