@import 'variables'
@import 'mixins'

*, *:before, *:after
    box-sizing: border-box

html, body
  font-family 'Roboto', sans-serif
  height 100%

main
  $getPageHeight()
  background-color $bodyBackground
  color $bodyColor
  text-align center

  a
    color inherit

header
  background-color $headerBackground
  position fixed
  top 0
  width 100%

  @media (min-width 768px)
    display flex
    justify-content center

input
  -webkit-appearance none
  border-radius 0

q
  font-size 1.5em
  font-weight normal
  line-height 1.5

  @media (min-width 768px)
    font-size 2em

cite
  display block
  font-size 1.25em