@import 'variables'
@import 'mixins'

#signup
  align-self center
  padding 0 $getDefaultPadding() $getDefaultPadding()

  @media (min-width 768px)
    flex 2
    padding $getDefaultPadding()

  @media (min-width 960px)
    flex initial
    margin-right auto
    width ($x-large-width / 2)

.signup-form
  align-items center
  display flex

.signup-email
  flex 3
  padding ($getDefaultPadding() / 2)

.signup-button
  flex 1
  padding ($getDefaultPadding() / 2)

  &.primary
    background-color $primaryButtonBackground
    border 2px solid $primaryButtonBackground
    color $primaryButtonColor