@import 'variables'

$getPageHeight(sections = $sectionCount)
  height (sections * 100%)

$getEm(target, parentSize = $baseFontSize)
  return (target / parentSize)em

$getResponsiveWidth(target, context)
  return ((target / context) * 100)%

$getDefaultPadding()
  return $getEm($defaultPadding)