@import 'variables'

#modal
  font-size 1.5em
  opacity 1
  position fixed
  text-align center
  width 100%
  z-index 9999

  &.error
    background-color $errorBackground
    color $errorColor

  &.success
    background-color $successBackground
    color $successColor

  &.flash-alert
    &.start
     opacity 0
     transition opacity 0.5s 2s ease-out

  &.static-alert
    color inherit