section
  align-items center
  background $sectionBackground
  background-position 50% 50%
  background-repeat no-repeat
  background-size cover!important
  display flex
  height 16.667%
  justify-content center
  min-height 700px

  &:nth-child(1)
    background $section1Background

    @media (max-width 640px)
      background-image url('/img/small-bg1.jpg')

    @media (min-width 641px)
      background-image url('/img/section-bg-1.jpg')

  &:nth-child(2)
    background $section2Background

    @media (max-width 640px)
      background-image url('/img/small-bg2.jpg')

    @media (min-width 641px)
      background-image url('/img/section-bg-2.jpg')

  &:nth-child(3)
    background $section3Background

    @media (max-width 640px)
      background-image url('/img/small-bg3.jpg')

    @media (min-width 641px)
      background-image url('/img/section-bg-3.jpg')

  &:nth-child(4)
    background $section4Background
    color $sectionColorAlt

    @media (max-width 640px)
      background-image url('/img/small-bg4.jpg')

    @media (min-width 641px)
      background-image url('/img/section-bg-4.jpg')

  &:nth-child(5)
    background $section5Background

    @media (max-width 640px)
      background-image url('/img/small-bg5.jpg')

    @media (min-width 641px)
      background-image url('/img/section-bg-5.jpg')

  &:nth-child(6)
    background $section6Background

    @media (max-width 640px)
      background-image url('/img/small-bg6.jpg')

    @media (min-width 641px)
      background-image url('/img/section-bg-6.jpg')

  > div
    margin auto
    width $x-large-width

  h1
    margin-top 0
#outro
  h1
    height 300px!important
    background-position bottom center

    @media (max-width 470px)
      background-size 70%!important
      height 270px!important

#intro
  h1
    height 400px
    background-size 40%!important

    @media (max-height 700px)
      height 400px


#intro, #outro
  div
    h1
      background url('/img/icons/pws_logo.png') center bottom no-repeat
      text-indent -99999px

      @media(min-width 470px) and (max-width 768px)
        height 600px
        background-size 30%

      @media (min-width 768px)
        height 600px
        background-size 30%