@import 'variables'
@import 'mixins'

#share
  display block
  padding $getDefaultPadding()

  @media (min-width 768px)
    flex 1.5

  @media (min-width 960px)
    flex initial
    margin-left auto
    width ($x-large-width / 2)

.share-options
  align-items center
  display flex
  justify-content space-between
  list-style none
  margin auto
  padding 0
  min-width $getResponsiveWidth(300px, 1024px)

  @media (min-width 960px)
    justify-content space-around

  a
    align-items center
    border 2px solid
    color $shareColor
    display flex
    font-size 1em
    height $getEm($shareLinkWidth, $baseFontSize)
    justify-content center
    overflow hidden
    position relative
    text-decoration none!important
    width $getEm($shareLinkWidth, $baseFontSize)

    @media (min-width 513px) and (max-width 768px)
      border-width 1px
      font-size 2em

    @media (min-width 768px)
      font-size 1em

.st_sharethis_large
  background-image none!important

  span
    display none!important