/* normalize.css v2.1.2 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
afocus {
  outline: thin dotted;
}
aactive,
ahover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]-webkit-search-cancel-button,
input[type="search"]-webkit-search-decoration {
  -webkit-appearance: none;
}
button-moz-focus-inner,
input-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
main {
  height: 600%;
  background-color: #000;
  color: #fff;
  text-align: center;
}
main a {
  color: inherit;
}
header {
  background-color: #434343;
  position: fixed;
  top: 0;
  width: 100%;
}
@media (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
q {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5;
}
@media (min-width: 768px) {
  q {
    font-size: 2em;
  }
}
cite {
  display: block;
  font-size: 1.25em;
}
.assistive-vision {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#share {
  display: block;
  padding: 1.125em;
}
@media (min-width: 768px) {
  #share {
    -webkit-box-flex: 1.5;
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
  }
}
@media (min-width: 960px) {
  #share {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    margin-left: auto;
    width: 496px;
  }
}
.share-options {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  padding: 0;
  min-width: 29.296875%;
}
@media (min-width: 960px) {
  .share-options {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.share-options a {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  height: 2.75em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
  width: 2.75em;
}
@media (min-width: 513px) and (max-width: 768px) {
  .share-options a {
    border-width: 1px;
    font-size: 2em;
  }
}
@media (min-width: 768px) {
  .share-options a {
    font-size: 1em;
  }
}
.st_sharethis_large {
  background-image: none !important;
}
.st_sharethis_large span {
  display: none !important;
}
#signup {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 0 1.125em 1.125em;
}
@media (min-width: 768px) {
  #signup {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 1.125em;
  }
}
@media (min-width: 960px) {
  #signup {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    margin-right: auto;
    width: 496px;
  }
}
.signup-form {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.signup-email {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 0.5625em;
}
.signup-button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0.5625em;
}
.signup-button.primary {
  background-color: #ff00cf;
  border: 2px solid #ff00cf;
  color: #fff;
}
section {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover cover !important;
  background-size: cover !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 16.667%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 700px;
}
section:nth-child(1) {
  background: #000;
}
@media (max-width: 640px) {
  section:nth-child(1) {
    background-image: url("/img/small-bg1.jpg");
  }
}
@media (min-width: 641px) {
  section:nth-child(1) {
    background-image: url("/img/section-bg-1.jpg");
  }
}
section:nth-child(2) {
  background: #ff00cf;
}
@media (max-width: 640px) {
  section:nth-child(2) {
    background-image: url("/img/small-bg2.jpg");
  }
}
@media (min-width: 641px) {
  section:nth-child(2) {
    background-image: url("/img/section-bg-2.jpg");
  }
}
section:nth-child(3) {
  background: #000;
}
@media (max-width: 640px) {
  section:nth-child(3) {
    background-image: url("/img/small-bg3.jpg");
  }
}
@media (min-width: 641px) {
  section:nth-child(3) {
    background-image: url("/img/section-bg-3.jpg");
  }
}
section:nth-child(4) {
  background: #ffd900;
  color: #000;
}
@media (max-width: 640px) {
  section:nth-child(4) {
    background-image: url("/img/small-bg4.jpg");
  }
}
@media (min-width: 641px) {
  section:nth-child(4) {
    background-image: url("/img/section-bg-4.jpg");
  }
}
section:nth-child(5) {
  background: #000;
}
@media (max-width: 640px) {
  section:nth-child(5) {
    background-image: url("/img/small-bg5.jpg");
  }
}
@media (min-width: 641px) {
  section:nth-child(5) {
    background-image: url("/img/section-bg-5.jpg");
  }
}
section:nth-child(6) {
  background: #00c7ff;
}
@media (max-width: 640px) {
  section:nth-child(6) {
    background-image: url("/img/small-bg6.jpg");
  }
}
@media (min-width: 641px) {
  section:nth-child(6) {
    background-image: url("/img/section-bg-6.jpg");
  }
}
section > div {
  margin: auto;
  width: 992px;
}
section h1 {
  margin-top: 0;
}
#outro h1 {
  height: 300px !important;
  background-position: bottom center;
}
@media (max-width: 470px) {
  #outro h1 {
    -webkit-background-size: 70% 70% !important;
    background-size: 70% !important;
    height: 270px !important;
  }
}
#intro h1 {
  height: 400px;
  -webkit-background-size: 40% 40% !important;
  background-size: 40% !important;
}
@media (max-height: 700px) {
  #intro h1 {
    height: 400px;
  }
}
#intro div h1,
#outro div h1 {
  background: url("/img/icons/pws_logo.png") center bottom no-repeat;
  text-indent: -99999px;
}
@media (min-width: 470px) and (max-width: 768px) {
  #intro div h1,
  #outro div h1 {
    height: 600px;
    -webkit-background-size: 30% 30%;
    background-size: 30%;
  }
}
@media (min-width: 768px) {
  #intro div h1,
  #outro div h1 {
    height: 600px;
    -webkit-background-size: 30% 30%;
    background-size: 30%;
  }
}
#modal {
  font-size: 1.5em;
  opacity: 1;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
#modal.error {
  background-color: #ff00cf;
  color: #fff;
}
#modal.success {
  background-color: #00c7ff;
  color: #fff;
}
#modal.flash-alert.start {
  opacity: 0;
  -webkit-transition: opacity 0.5s 2s ease-out;
  transition: opacity 0.5s 2s ease-out;
}
#modal.static-alert {
  color: inherit;
}
